@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@500&family=Sixtyfour+Convergence&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Reset dropdown to be hidden initially */
ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 200px;
}

/* Dropdown items */
ul.dropdown li {
  padding: 10px;
  white-space: nowrap;
  /* Prevent text wrapping */
}

ul.dropdown li a {
  color: #333;
  text-decoration: none;
  display: block;
}

/* Hover effect on dropdown items */
ul.dropdown li a:hover {
  background-color: #fff;
  color: #000;
}

/* Show dropdown on hover */
li.drop:hover > ul.dropdown {
  display: block;
}

/* Ensure the parent category menu is positioned relative */
li.drop {
  position: relative;
}

/* Optional: Style the parent category links */
li.drop > a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

li.drop > a:hover {
  color: #007bff;
  /* Optional: Change color on hover */
}

.nav-links {
  text-align: center;
  /* padding: 10px 0; */
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
/* Toggle visibility of mobile menu */
.mobile-menu.show {
  display: block;
}

.categories-menu {
  display: none; /* Default is hidden */
}

.categories-menu.show {
  display: block; /* Show menu when toggle button is clicked */
}

/* Sub-menu toggle for mobile */
.sub-menu {
  display: none; /* Default is hidden */
}

.sub-menu.show {
  display: block; /* Show sub-menu when expanded */
}
/* Marquee container */
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: #f0f0f0; /* Optional background color */
  padding: 2px; /* Optional padding */
  border: 1px solid #ddd; /* Optional border */
}

/* Marquee text animation */
.marquee-text {
  display: inline-block;
  padding-left: 100%; /* Start outside the visible area */
  animation: scroll-left 40s linear infinite;
  font-size: 10px; /* Customize font size */
  font-weight: 900;
  color: #ff0000; /* Customize font color */
  font-family: "Arial", cursive;
}

/* Keyframes for scrolling effect */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (min-width: 440px) and (max-width: 767px) {
  .sreach {
    max-width: 350px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 440px) {
  .sreach {
    max-width: 260px;
  }
}
